@font-face {
  font-family: "BebasRegular";
  src: local("BebasRegular"),
   url(~assets/fonts/BebasRegular.ttf) format("truetype");
}

.normal-text-light {
  font-family: 'BebasRegular';
  color: #ededed;
  font-size: 24px;
}